<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <!-- Axentix CSS minified version -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.1.1/dist/axentix.min.css">
        <link rel="stylesheet" href="{{absolute_url(asset('css/bootstrap.css'))}}"/>
        <link rel="stylesheet" href="{{absolute_url(asset('css/bootstrap.min.css'))}}"/>
        <link rel="stylesheet" href="{{absolute_url(asset('css/all.min.css'))}}"/>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
 
<nav class="navbar shadow-1 airforce dark-2">
  <a href="#" class="navbar-brand">Facturation</a>

  <!-- Dark menu text hover variant -->
  <div class="navbar-menu ml-auto hover-text-dark text-grey text-light-3">
    <a class="navbar-link active" href="{{ path('app_client_index') }}">CLIENT</a>
    <a class="navbar-link" href="{{ path('app_produit_index') }}">PRODUIT</a>
    <a class="navbar-link" href="{{ path('app_facture_index') }}">FACTURE</a>
  </div>
</nav>
 {% block body %}
        {% endblock %}
 <br> <br> <br> <br> <br> <br>          
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Lucien.com</a>
  </div>
  <!-- Copyright -->
</footer>
        
    </body>
</html>
